# PyCity Schools Analysis
###

In [ ]:
# import dependencies
import pandas as pd

In [2]:
# Create file paths for csv files
school_path = "Resources/schools_complete.csv"
Student_path = "Resources/students_complete.csv"

In [1]:
# Read data with pandas and create dataframes

In [1]:
# Merge dataframes

# District Summary

In [2]:
# Calculate total students

# Calculate total budget

In [4]:
# Calculate average math score

In [5]:
# Calculate average reading score

In [6]:
# Calculate the percent of students that passed math

In [7]:
# Calculate percent of students passing reading

In [8]:
# Calculate percent of students passing math and reading

In [9]:
# Create snapshot dataframe

# School Summary

In [10]:
# Select school types

In [11]:
# Calculate total student count

In [12]:
# Calculate total school budget and per capita spending

In [13]:
# Calculate average test scores

In [14]:
# Calculate the number of schools with math scores of 70+

In [15]:
# Calculate the number of schools with reading sores of 70+

In [16]:
# Calculate schhols that passed both math and reading with scores of 70+

In [17]:
# Calculate passing rates

In [18]:
# Create per school summary dataframe

# Highest-Performing Schools (by % Overall Passing)

In [19]:
# Sort schools by "% Overall Passing" in descending order and display top 5 rows

# Bottom-Performing Schools (by % Overall Passing)

In [20]:
# Sort the schools by "% Overall Passing" in ascending order and display top 5 rows

# Math Scores by Grade

In [25]:
# Separate data by grade
# Groupby "school_name" and calculate mean of each
# Select only "math_score"
# Combine the above into a single dataframe
# Display dataframe

# Reading Scores by Grade

In [28]:
# Groupby "school_name" and calculate mean of each
# Select only "reading_score"
# Combine above into a single dataframe
# Display dataframe

# Scores by School Spending

In [29]:
# Establish bins

In [30]:
# Create copy of school summary which has "Per Student Budget"

In [31]:
# cut the data and put into bins in new column

In [32]:
# Calcualte averages for desired columns

In [33]:
# Assemble into dataframe
# Display results

# Scores by School Size

In [34]:
# Establish bins

In [35]:
# Cut data and put into bins in new column

In [36]:
# Calculate averages for desired columns

In [38]:
# Assemble into dataframe
# Display results

# Scores by School Type

In [41]:
# Group the per_school_summary DataFrame by "School Type" and average the results
# select new column data

In [42]:
# Assemble ne data by type into dataframe
# Display results